.container {
  display: flex;
  flex-direction: row;
  gap: 1px white;
  justify-content: center;
}

.flex_row_containers {
  display: flex;
  flex-direction: column;
  margin: 1px;
}

.flex_vertical_item {
  margin: 1px;
  background: plum;
}

.flex_vertical_item:hover {
  background: paleturquoise;
}

div.flex_vertical_item_pressed {
  margin: 1px;
  background: paleturquoise;
}

.popUpInfo {
  color: red;
  text-align: center;
  margin: auto;
  display: none;
}