body {
  background-color: rgb(237, 237, 237);
}

.container {
  display: flex;
  flex-direction: row;
  /* gap: 1px black; */
  justify-content: center;
}

.flex_row_containers {
  display: flex;
  flex-direction: column;
  margin: 1px;
}

.flex_vertical_item {
  margin: 1px;
  background: #dda0dd;
}

div.flex_vertical_item_pressed {
  margin: 1px;
  background-color: #afeeee;
}

.popUpInfo {
  color: red;
  text-align: center;
  margin: auto;
  display: none;
}

.settings {
  text-align: center;
}

#grid_size_num {
  width: 50px;
}