body {
  background-color: #ededed;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* minmax(210px, calc(50% - 350px)) */

/* Main grid */
.main_window {
  display: grid;
  grid-template-columns: calc(50% - 350px) 700px calc(50% - 350px);
  grid-template-rows: minmax(100px, calc(50vh - 350px)) 700px calc(50vh - 350px);
  grid-template-areas: ". header ."" . maincontent ."". settings .";
}

/* Grid item 0 */
.header_title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  /* grid-column-start: 2; */
  /* grid-row-start: 2;  */
  grid-area: header;
}

/* Grid item 1 */
.settings {
  /* grid-column-start: 2; */
  /*grid-row-start: 3; */
  min-width: 210px;
  grid-area: settings;
  justify-content: center;
  text-align: center;
}

/* Grid item 2 */
.flex_box_container {
  justify-content: center;
  /* grid-column-start: 2; */
  /*grid-row-start: 2; */
  background-color: #FFF;
  grid-area: maincontent;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex_row_containers {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0px 0px 0px 1px white;
}

.flex_vertical_item {
  background: #dda0dd;
  box-shadow: inset 0px 0px 0px 1px white;
}

div.flex_vertical_item_pressed {
  background-color: #afeeee;
  box-shadow: inset 0px 0px 0px 1px white;
}

#grid_size_num {
  width: 50px;
}

.label {
  color: black;
  /* padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px; */
}

input {
  background-color: #d7d7d7;
  border: 0px;
}